In [1]:
# Create an RDD of tuples (name, age)
dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30),("TD", 35), ("Brooke", 25)])

# Use map and reduceByKey transformations with their lambda
# expressions to aggregate and then compute average
agesRDD = (dataRDD.map(lambda x: (x[0], (x[1], 1))) 
.reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
.map(lambda x: (x[0], x[1][0]/x[1][1])))

agesRDD.collect()

[('Denny', 31.0), ('Jules', 30.0), ('Brooke', 22.5), ('TD', 35.0)]

In [16]:
from pyspark.sql.functions import *

# Create a DataFrame
data_df = spark.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),
    ("TD", 35), ("Brooke", 25)], ["name", "age"])
# Group the same names together, aggregate their ages, and compute an average
avg_df = data_df.groupBy("name").agg(avg("age"))
# Show the results of the final execution
avg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Denny|    31.0|
| Jules|    30.0|
|    TD|    35.0|
+------+--------+

## Constructing a DataFrame

In [49]:
# Define schema for our data using DDL

schema = "Id: STRING, First: STRING, Last: STRING, Url: STRING, Published: STRING, Hits: INT, Campaigns: ARRAY<STRING>"
# Create our static data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
            [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter","LinkedIn"]],
            [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web","twitter", "FB", "LinkedIn"]],
            [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568,["twitter", "FB"]],
            [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web","twitter", "FB", "LinkedIn"]],
            [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568,["twitter", "LinkedIn"]]
]
# Create a DataFrame using the schema defined above
blogs_df = spark.createDataFrame(data, schema)
# Show the DataFrame; it should reflect our table above
blogs_df.show()
# Print the schema used by Spark to process the DataFrame
print(blogs_df.schema)
blogs_df.printSchema()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

StructType([StructField('Id', StringType(), True), StructField('First', StringType(), True), StructField('Last', StringType(), True), StructField('Url', StringType(), True), StructField('Published', StringType(), True), StructField('Hits', IntegerType(), True), StructField('Campaigns', ArrayType(StringType(), True), True)])
root
 |-- Id: string (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [34]:
# Create the DataFrame without specifying schema: the schema will be inferred

blogs_df2 = spark.createDataFrame(data)
blogs_df2.show()
blogs_df2.printSchema()

+---+---------+-------+-----------------+---------+-----+--------------------+
| _1|       _2|     _3|               _4|       _5|   _6|                  _7|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: string (nullable = true)
 |-- _5: string (nullable = true)
 |-- _6: long (nullable = true)
 |-- _7: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [40]:
# Create the DataFrame from an RDD of tuples with column names, type is inferred
blogs_df2 = spark.createDataFrame(data, ['Id', 'First', 'Last', 'Url', 'Published', 'Hits', 'Campaigns'])
blogs_df2.show()
blogs_df2.printSchema()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

root
 |-- Id: long (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: long (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [41]:
# rdd returns the content as an RDD of Rows
blogs_df.rdd.take(2)

[Row(Id='1', First='Jules', Last='Damji', Url='https://tinyurl.1', Published='1/4/2016', Hits=4535, Campaigns=['twitter', 'LinkedIn']),
 Row(Id='2', First='Brooke', Last='Wenig', Url='https://tinyurl.2', Published='5/5/2018', Hits=8908, Campaigns=['twitter', 'LinkedIn'])]

In [43]:
blogs_df.rdd.take(1)[0]['First']

'Jules'

In [50]:
blogs_df.rdd.take(1)[0].Id

'1'

In [52]:
blogs_df.rdd.take(1)[0].Id

'1'

In [53]:
# Try changing the column name to 'count'.   Then this will not work due to naming conflict 
blogs_df.rdd.take(1)[0].count

### Columns

In [57]:
blogs_df.columns

['Id', 'First', 'Last', 'Url', 'Published', 'Hits', 'Campaigns']

In [59]:
# Access a particular column with col and it returns a Column type
blogs_df['Id']

Column<'Id'>

In [60]:
# Another way to access a column - but be aware of naming conflicts
blogs_df.Id

Column<'Id'>

### Dataframe operations

In [62]:
# Projection: Retrieve specific columns from the dataframe
blogs_df.select('Id', 'First').show()

+---+---------+
| Id|    First|
+---+---------+
|  1|    Jules|
|  2|   Brooke|
|  3|    Denny|
|  4|Tathagata|
|  5|    Matei|
|  6|  Reynold|
+---+---------+

In [63]:
#  Selection: Retrieve specific rows
blogs_df.filter("First<'G'").show()

+---+------+-----+-----------------+---------+----+--------------------+
| Id| First| Last|              Url|Published|Hits|           Campaigns|
+---+------+-----+-----------------+---------+----+--------------------+
|  2|Brooke|Wenig|https://tinyurl.2| 5/5/2018|8908| [twitter, LinkedIn]|
|  3| Denny|  Lee|https://tinyurl.3| 6/7/2019|7659|[web, twitter, FB...|
+---+------+-----+-----------------+---------+----+--------------------+

In [65]:
# Adding a column (equivalent to map)

blogs_df.select('ID', blogs_df.Hits + 1).show()

+---+----------+
| ID|(Hits + 1)|
+---+----------+
|  1|      4536|
|  2|      8909|
|  3|      7660|
|  4|     10569|
|  5|     40579|
|  6|     25569|
+---+----------+

In [69]:
# Another way:

blogs_df.select('Id', col('Hits') + 1).show()

+---+----------+
| Id|(Hits + 1)|
+---+----------+
|  1|      4536|
|  2|      8909|
|  3|      7660|
|  4|     10569|
|  5|     40579|
|  6|     25569|
+---+----------+

In [70]:
# giving a name to the new column:

blogs_df.select('Id', blogs_df.Hits + 1).withColumnRenamed('(Hits + 1)', 'NewHits').show()

# Because DataFrame transformations are immutable, when we
# rename a column using withColumnRenamed() we get a new Data‐
# Frame while retaining the original with the old column name.

+---+-------+
| Id|NewHits|
+---+-------+
|  1|   4536|
|  2|   8909|
|  3|   7660|
|  4|  10569|
|  5|  40579|
|  6|  25569|
+---+-------+

In [71]:
# giving a name to the new column:

blogs_df.select('Id', (blogs_df.Hits + 1).alias('NewHits')).show()

+---+-------+
| Id|NewHits|
+---+-------+
|  1|   4536|
|  2|   8909|
|  3|   7660|
|  4|  10569|
|  5|  40579|
|  6|  25569|
+---+-------+

In [72]:
# Sort by a column

blogs_df.sort('Hits').show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [73]:
# Sort by a column in descending order

blogs_df.sort('Hits', ascending = False).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [74]:
# Sort by a column in descending order

blogs_df.sort(col('Hits').desc()).show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [81]:
# Load an external file as a DataFrame
# Download data at https://www.cse.ust.hk/msbd5003/data/sf-fire-calls.csv 

# Programmatic way to define a schema
fire_schema = StructType([StructField('CallNumber', IntegerType(), True),
    StructField('UnitID', StringType(), True),
    StructField('IncidentNumber', IntegerType(), True),
    StructField('CallType', StringType(), True),
    StructField('CallDate', StringType(), True),
    StructField('WatchDate', StringType(), True),
    StructField('CallFinalDisposition', StringType(), True),
    StructField('AvailableDtTm', StringType(), True),
    StructField('Address', StringType(), True),
    StructField('City', StringType(), True),
    StructField('Zipcode', IntegerType(), True),
    StructField('Battalion', StringType(), True),
    StructField('StationArea', StringType(), True),
    StructField('Box', StringType(), True),
    StructField('OriginalPriority', StringType(), True),
    StructField('Priority', StringType(), True),
    StructField('FinalPriority', IntegerType(), True),
    StructField('ALSUnit', BooleanType(), True),
    StructField('CallTypeGroup', StringType(), True),
    StructField('NumAlarms', IntegerType(), True),
    StructField('UnitType', StringType(), True),
    StructField('UnitSequenceInCallDispatch', IntegerType(), True),
    StructField('FirePreventionDistrict', StringType(), True),
    StructField('SupervisorDistrict', StringType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('RowID', StringType(), True),
    StructField('Delay', FloatType(), True)])

# Use the DataFrameReader interface to read a CSV file
sf_fire_file = "../data/sf-fire-calls.csv"
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

fire_df.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- Delay: float (nullable = true)

In [82]:
# Projection
few_fire_df = fire_df.select("IncidentNumber", "AvailableDtTm", "CallType") \
    .where(col("CallType") != "Medical Incident")
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [84]:
# Projection doesn't remove duplicates:

fire_df.select('CallType').show()

+----------------+
|        CallType|
+----------------+
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|    Vehicle Fire|
|          Alarms|
|  Structure Fire|
|          Alarms|
|          Alarms|
|Medical Incident|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|  Structure Fire|
|  Structure Fire|
|  Structure Fire|
|Medical Incident|
|Medical Incident|
|Medical Incident|
+----------------+
only showing top 20 rows

In [85]:
# Use distinct to remove duplicates:
fire_df.select('CallType').distinct().show()

+--------------------+
|            CallType|
+--------------------+
|Elevator / Escala...|
|  Aircraft Emergency|
|              Alarms|
|Odor (Strange / U...|
|Citizen Assist / ...|
|              HazMat|
|           Explosion|
|           Oil Spill|
|        Vehicle Fire|
|  Suspicious Package|
|Extrication / Ent...|
|               Other|
|        Outside Fire|
|   Traffic Collision|
|       Assist Police|
|Gas Leak (Natural...|
|        Water Rescue|
|   Electrical Hazard|
|   High Angle Rescue|
|      Structure Fire|
+--------------------+
only showing top 20 rows

In [86]:
# Distinct count:
fire_df.select('CallType').distinct().count()

30

In [89]:
# This is more efficient:
fire_df.select('CallType').agg(count_distinct('CallType').alias("DistinctCallTypes")).show()

+-----------------+
|DistinctCallTypes|
+-----------------+
|               30|
+-----------------+

In [96]:
# Like SQL, SparkSQL supports many type-specific operations

fire_ts_df = (fire_df
    .withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
    .drop("CallDate")
    .withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
    .drop("WatchDate")
    .withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
    "MM/dd/yyyy hh:mm:ss a"))
    .drop("AvailableDtTm"))

# Select the converted columns
fire_ts_df.select("IncidentDate", "OnWatchDate", "AvailableDtTS").show(5, False)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [94]:
(fire_ts_df
    .select(year('IncidentDate'))
    .distinct()
    .orderBy(year('IncidentDate'))
    .show())

+------------------+
|year(IncidentDate)|
+------------------+
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [97]:
# What were the most common types of fire calls?

(fire_ts_df
    .select("CallType")
    .where(col("CallType").isNotNull())
    .groupBy("CallType")
    .count()
    .orderBy("count", ascending=False)
    .show(n=10, truncate=False))

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [100]:
# More aggregation functions

(fire_ts_df
    .select(sum("NumAlarms"), avg("Delay"),
    min("Delay"), max("Delay"))
.show())

+--------------+-----------------+-----------+----------+
|sum(NumAlarms)|       avg(Delay)| min(Delay)|max(Delay)|
+--------------+-----------------+-----------+----------+
|        176170|3.892364154521585|0.016666668|   1844.55|
+--------------+-----------------+-----------+----------+

In [105]:
(fire_ts_df
    .where(col("CallType").isNotNull())
    .groupBy("CallType")
    .avg("Delay")
    .show(n=10, truncate=False))

+-----------------------------+------------------+
|CallType                     |avg(Delay)        |
+-----------------------------+------------------+
|Elevator / Escalator Rescue  |4.337821918278603 |
|Aircraft Emergency           |3.773148145940569 |
|Alarms                       |3.5427290570836676|
|Odor (Strange / Unknown)     |4.9479591785645   |
|Citizen Assist / Service Call|5.47334257750617  |
|HazMat                       |7.527016133069992 |
|Explosion                    |4.110674162259262 |
|Oil Spill                    |4.977777770587376 |
|Vehicle Fire                 |3.903922712007228 |
|Suspicious Package           |6.576666704813639 |
+-----------------------------+------------------+
only showing top 10 rows

### Rewriting SQL with DataFrame API

In [13]:
# Load data from csv files
# Data files at https://www.cse.ust.hk/msbd5003/data

dfCustomer = spark.read.csv('../data/Customer.csv', header=True, inferSchema=True)
dfProduct = spark.read.csv('../data/Product.csv', header=True, inferSchema=True)
dfDetail = spark.read.csv('../data/SalesOrderDetail.csv', header=True, inferSchema=True)
dfHeader = spark.read.csv('../data/SalesOrderHeader.csv', header=True, inferSchema=True)

In [14]:
# SELECT ProductID, Name, ListPrice 
# FROM Product 
# WHERE Color = 'black'

dfProduct.filter("Color = 'Black'")\
         .select('ProductID', 'Name', 'ListPrice')\
         .show(truncate=False)

+---------+-----------------------------+---------+
|ProductID|Name                         |ListPrice|
+---------+-----------------------------+---------+
|680      |HL Road Frame - Black, 58    |1431.5   |
|708      |Sport-100 Helmet, Black      |34.99    |
|722      |LL Road Frame - Black, 58    |337.22   |
|723      |LL Road Frame - Black, 60    |337.22   |
|724      |LL Road Frame - Black, 62    |337.22   |
|736      |LL Road Frame - Black, 44    |337.22   |
|737      |LL Road Frame - Black, 48    |337.22   |
|738      |LL Road Frame - Black, 52    |337.22   |
|743      |HL Mountain Frame - Black, 42|1349.6   |
|744      |HL Mountain Frame - Black, 44|1349.6   |
|745      |HL Mountain Frame - Black, 48|1349.6   |
|746      |HL Mountain Frame - Black, 46|1349.6   |
|747      |HL Mountain Frame - Black, 38|1349.6   |
|765      |Road-650 Black, 58           |782.99   |
|766      |Road-650 Black, 60           |782.99   |
|767      |Road-650 Black, 62           |782.99   |
|768      |Road-650 Black, 44           |782.99   |
|769      |Road-650 Black, 48           |782.99   |
|770      |Road-650 Black, 52           |782.99   |
|775      |Mountain-100 Black, 38       |3374.99  |
+---------+-----------------------------+---------+
only showing top 20 rows

In [16]:
dfProduct.where(dfProduct.Color=='Black') \
         .select(dfProduct.ProductID, dfProduct['Name'], (dfProduct['ListPrice'] * 2).alias('Double price')) \
         .show(truncate=False)

+---------+-----------------------------+------------+
|ProductID|Name                         |Double price|
+---------+-----------------------------+------------+
|680      |HL Road Frame - Black, 58    |2863.0      |
|708      |Sport-100 Helmet, Black      |69.98       |
|722      |LL Road Frame - Black, 58    |674.44      |
|723      |LL Road Frame - Black, 60    |674.44      |
|724      |LL Road Frame - Black, 62    |674.44      |
|736      |LL Road Frame - Black, 44    |674.44      |
|737      |LL Road Frame - Black, 48    |674.44      |
|738      |LL Road Frame - Black, 52    |674.44      |
|743      |HL Mountain Frame - Black, 42|2699.2      |
|744      |HL Mountain Frame - Black, 44|2699.2      |
|745      |HL Mountain Frame - Black, 48|2699.2      |
|746      |HL Mountain Frame - Black, 46|2699.2      |
|747      |HL Mountain Frame - Black, 38|2699.2      |
|765      |Road-650 Black, 58           |1565.98     |
|766      |Road-650 Black, 60           |1565.98     |
|767      |Road-650 Black, 62           |1565.98     |
|768      |Road-650 Black, 44           |1565.98     |
|769      |Road-650 Black, 48           |1565.98     |
|770      |Road-650 Black, 52           |1565.98     |
|775      |Mountain-100 Black, 38       |6749.98     |
+---------+-----------------------------+------------+
only showing top 20 rows

In [15]:
dfProduct.where(dfProduct.ListPrice * 2 > 100) \
         .select(dfProduct.ProductID, dfProduct['Name'], dfProduct.ListPrice * 2) \
         .show(truncate=False)

+---------+-------------------------+---------------+
|ProductID|Name                     |(ListPrice * 2)|
+---------+-------------------------+---------------+
|680      |HL Road Frame - Black, 58|2863.0         |
|706      |HL Road Frame - Red, 58  |2863.0         |
|717      |HL Road Frame - Red, 62  |2863.0         |
|718      |HL Road Frame - Red, 44  |2863.0         |
|719      |HL Road Frame - Red, 48  |2863.0         |
|720      |HL Road Frame - Red, 52  |2863.0         |
|721      |HL Road Frame - Red, 56  |2863.0         |
|722      |LL Road Frame - Black, 58|674.44         |
|723      |LL Road Frame - Black, 60|674.44         |
|724      |LL Road Frame - Black, 62|674.44         |
|725      |LL Road Frame - Red, 44  |674.44         |
|726      |LL Road Frame - Red, 48  |674.44         |
|727      |LL Road Frame - Red, 52  |674.44         |
|728      |LL Road Frame - Red, 58  |674.44         |
|729      |LL Road Frame - Red, 60  |674.44         |
|730      |LL Road Frame - Red, 62  |674.44         |
|731      |ML Road Frame - Red, 44  |1189.66        |
|732      |ML Road Frame - Red, 48  |1189.66        |
|733      |ML Road Frame - Red, 52  |1189.66        |
|734      |ML Road Frame - Red, 58  |1189.66        |
+---------+-------------------------+---------------+
only showing top 20 rows

In [15]:
# SELECT ProductID, Name, ListPrice 
# FROM Product 
# WHERE Color = 'black' 
# ORDER BY ProductID

dfProduct.filter("Color = 'Black'")\
         .select('ProductID', 'Name', 'ListPrice')\
         .orderBy('ListPrice')\
         .show(truncate=False)

+---------+--------------------------+---------+
|ProductID|Name                      |ListPrice|
+---------+--------------------------+---------+
|860      |Half-Finger Gloves, L     |24.49    |
|859      |Half-Finger Gloves, M     |24.49    |
|858      |Half-Finger Gloves, S     |24.49    |
|708      |Sport-100 Helmet, Black   |34.99    |
|862      |Full-Finger Gloves, M     |37.99    |
|861      |Full-Finger Gloves, S     |37.99    |
|863      |Full-Finger Gloves, L     |37.99    |
|841      |Men's Sports Shorts, S    |59.99    |
|849      |Men's Sports Shorts, M    |59.99    |
|851      |Men's Sports Shorts, XL   |59.99    |
|850      |Men's Sports Shorts, L    |59.99    |
|815      |LL Mountain Front Wheel   |60.745   |
|868      |Women's Mountain Shorts, M|69.99    |
|869      |Women's Mountain Shorts, L|69.99    |
|867      |Women's Mountain Shorts, S|69.99    |
|853      |Women's Tights, M         |74.99    |
|854      |Women's Tights, L         |74.99    |
|852      |Women's Tights, S         |74.99    |
|818      |LL Road Front Wheel       |85.565   |
|823      |LL Mountain Rear Wheel    |87.745   |
+---------+--------------------------+---------+
only showing top 20 rows

In [19]:
# Find all orders and details on black product,
# return the product SalesOrderID, SalesOrderDetailID, Name, UnitPrice, and OrderQty

# SELECT SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty 
# FROM SalesLT.SalesOrderDetail, SalesLT.Product
# WHERE SalesOrderDetail.ProductID = Product.ProductID AND Color = 'Black'

# SELECT SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty 
# FROM SalesLT.SalesOrderDetail
# JOIN SalesLT.Product ON SalesOrderDetail.ProductID = Product.ProductID
# WHERE Color = 'Black'

# Spark SQL supports natural joins

dfDetail.join(dfProduct, 'ProductID') \
        .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty') \
        .filter("Color='Black'") \
        .show()

# If we move the filter to after select, it still works.  Why?

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71797|            111045|LL Road Frame - B...|  202.332|       3|
|       71783|            110730|LL Road Frame - B...|  202.332|       6|
|       71938|            113297|LL Road Frame - B...|  202.332|       3|
|       71915|            113090|LL Road Frame - B...|  202.332|       2|
|       71815|            111451|LL Road Frame - B...|  202.332|       1|
|       71797|            111044|LL Road Frame - B...|  202.332|       1|
|       71783|            110710|LL Road Frame - B...|  202.332|       4|
|       71936|            113260|HL Mountain Frame...|   809.76|       4|
|       71899|            112937|HL Mountain Frame...|   809.76|       1|
|       71845|            112137|HL Mountain Frame...|   809.76|       2|
|       71832|            111806|HL Mountain Frame...|   809.76|       4|
|       71780|            110622|HL Mountain Frame...|   809.76|       1|
|       71936|            113235|HL Mountain Frame...|   809.76|       4|
|       71845|            112134|HL Mountain Frame...|   809.76|       3|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

In [20]:
# This also works:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.show()
d2 = d1.filter("Color = 'Black'")
d2.show()
d2.explain()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113278|Sport-100 Helmet,...|   20.994|       3|
|       71936|            113228|Sport-100 Helmet,...|   20.994|       1|
|       71902|            112980|Sport-100 Helmet,...|   20.994|       2|
|       71797|            111075|Sport-100 Helmet,...|   20.994|       6|
|       71784|            110794|Sport-100 Helmet,...|   20.994|      10|
|       71783|            110751|Sport-100 Helmet,...|   20.994|      10|
|       71782|            110709|Sport-100 Helmet,...|   20.994|       3|
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71938|            113282|Sport-100 Helmet,...|   20.994|       3|
|       71902|            112995|Sport-100 Helmet,...|   20.994|       7|
|       71863|            112395|Sport-100 Helmet,...|   20.994|       1|
|       71797|            111038|Sport-100 Helmet,...|   20.994|       4|
|       71784|            110753|Sport-100 Helmet,...|   20.994|       2|
|       71783|            110749|Sport-100 Helmet,...|  19.2445|      15|
|       71782|            110708|Sport-100 Helmet,...|   20.994|       6|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71797|            111045|LL Road Frame - B...|  202.332|       3|
|       71783|            110730|LL Road Frame - B...|  202.332|       6|
|       71938|            113297|LL Road Frame - B...|  202.332|       3|
|       71915|            113090|LL Road Frame - B...|  202.332|       2|
|       71815|            111451|LL Road Frame - B...|  202.332|       1|
|       71797|            111044|LL Road Frame - B...|  202.332|       1|
|       71783|            110710|LL Road Frame - B...|  202.332|       4|
|       71936|            113260|HL Mountain Frame...|   809.76|       4|
|       71899|            112937|HL Mountain Frame...|   809.76|       1|
|       71845|            112137|HL Mountain Frame...|   809.76|       2|
|       71832|            111806|HL Mountain Frame...|   809.76|       4|
|       71780|            110622|HL Mountain Frame...|   809.76|       1|
|       71936|            113235|HL Mountain Frame...|   809.76|       4|
|       71845|            112134|HL Mountain Frame...|   809.76|       3|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

== Physical Plan ==
*(2) Project [SalesOrderID#572, SalesOrderDetailID#573, Name#523, UnitPrice#576, OrderQty#574]
+- *(2) BroadcastHashJoin [ProductID#575], [ProductID#522], Inner, BuildLeft
   :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[3, int, true] as bigint))), [id=#609]
   :  +- *(1) Project [SalesOrderID#572, SalesOrderDetailID#573, OrderQty#574, ProductID#575, UnitPrice#576]
   :     +- *(1) Filter isnotnull(ProductID#575)
   :        +- FileScan csv [SalesOrderID#572,SalesOrderDetailID#573,OrderQty#574,ProductID#575,UnitPrice#576] Batched: false, DataFilters: [isnotnull(ProductID#575)], Format: CSV, Location: InMemoryFileIndex[file:/csproject/msbd5003/public_html/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,SalesOrderDetailID:int,OrderQty:int,ProductID:int,UnitPrice:double>
   +- *(2) Project [ProductID#522, Name#523]
      +- *(2) Filter ((isnotnull(Color#525) AND (Color#525 = Black)) AND isnotnull(ProductID#522))
         +- FileScan csv [ProductID#522,Name#523,Color#525] Batched: false, DataFilters: [isnotnull(Color#525), (Color#525 = Black), isnotnull(ProductID#522)], Format: CSV, Location: InMemoryFileIndex[file:/csproject/msbd5003/public_html/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Color), EqualTo(Color,Black), IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Name:string,Color:string>

In [34]:
# SparkSQL performs optimization depending on whether intermediate dataframe are cached or not:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.persist()
d1.show()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113278|Sport-100 Helmet,...|   20.994|       3|
|       71936|            113228|Sport-100 Helmet,...|   20.994|       1|
|       71902|            112980|Sport-100 Helmet,...|   20.994|       2|
|       71797|            111075|Sport-100 Helmet,...|   20.994|       6|
|       71784|            110794|Sport-100 Helmet,...|   20.994|      10|
|       71783|            110751|Sport-100 Helmet,...|   20.994|      10|
|       71782|            110709|Sport-100 Helmet,...|   20.994|       3|
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71938|            113282|Sport-100 Helmet,...|   20.994|       3|
|       71902|            112995|Sport-100 Helmet,...|   20.994|       7|
|       71863|            112395|Sport-100 Helmet,...|   20.994|       1|
|       71797|            111038|Sport-100 Helmet,...|   20.994|       4|
|       71784|            110753|Sport-100 Helmet,...|   20.994|       2|
|       71783|            110749|Sport-100 Helmet,...|  19.2445|      15|
|       71782|            110708|Sport-100 Helmet,...|   20.994|       6|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

In [35]:
d2 = d1.where("Color = 'Black'")
#d2 = d1.where("OrderQty >= 10")
d2.show()
d2.explain()

+------------+------------------+--------------------+---------+--------+
|SalesOrderID|SalesOrderDetailID|                Name|UnitPrice|OrderQty|
+------------+------------------+--------------------+---------+--------+
|       71938|            113295|Sport-100 Helmet,...|   29.994|       5|
|       71902|            112988|Sport-100 Helmet,...|   20.994|       4|
|       71797|            111082|Sport-100 Helmet,...|  20.2942|      12|
|       71784|            110795|Sport-100 Helmet,...|  20.2942|      12|
|       71783|            110752|Sport-100 Helmet,...|  20.2942|      11|
|       71782|            110690|Sport-100 Helmet,...|   20.994|       7|
|       71797|            111045|LL Road Frame - B...|  202.332|       3|
|       71783|            110730|LL Road Frame - B...|  202.332|       6|
|       71938|            113297|LL Road Frame - B...|  202.332|       3|
|       71915|            113090|LL Road Frame - B...|  202.332|       2|
|       71815|            111451|LL Road Frame - B...|  202.332|       1|
|       71797|            111044|LL Road Frame - B...|  202.332|       1|
|       71783|            110710|LL Road Frame - B...|  202.332|       4|
|       71936|            113260|HL Mountain Frame...|   809.76|       4|
|       71899|            112937|HL Mountain Frame...|   809.76|       1|
|       71845|            112137|HL Mountain Frame...|   809.76|       2|
|       71832|            111806|HL Mountain Frame...|   809.76|       4|
|       71780|            110622|HL Mountain Frame...|   809.76|       1|
|       71936|            113235|HL Mountain Frame...|   809.76|       4|
|       71845|            112134|HL Mountain Frame...|   809.76|       3|
+------------+------------------+--------------------+---------+--------+
only showing top 20 rows

== Physical Plan ==
*(2) Project [SalesOrderID#572, SalesOrderDetailID#573, Name#523, UnitPrice#576, OrderQty#574]
+- *(2) BroadcastHashJoin [ProductID#575], [ProductID#522], Inner, BuildLeft
   :- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[3, int, true] as bigint))), [id=#1318]
   :  +- *(1) Project [SalesOrderID#572, SalesOrderDetailID#573, OrderQty#574, ProductID#575, UnitPrice#576]
   :     +- *(1) Filter isnotnull(ProductID#575)
   :        +- FileScan csv [SalesOrderID#572,SalesOrderDetailID#573,OrderQty#574,ProductID#575,UnitPrice#576] Batched: false, DataFilters: [isnotnull(ProductID#575)], Format: CSV, Location: InMemoryFileIndex[file:/csproject/msbd5003/public_html/data/SalesOrderDetail.csv], PartitionFilters: [], PushedFilters: [IsNotNull(ProductID)], ReadSchema: struct<SalesOrderID:int,SalesOrderDetailID:int,OrderQty:int,ProductID:int,UnitPrice:double>
   +- *(2) Project [ProductID#522, Name#523]
      +- *(2) Filter ((isnotnull(Color#525) AND (Color#525 = Black)) AND isnotnull(ProductID#522))
         +- FileScan csv [ProductID#522,Name#523,Color#525] Batched: false, DataFilters: [isnotnull(Color#525), (Color#525 = Black), isnotnull(ProductID#522)], Format: CSV, Location: InMemoryFileIndex[file:/csproject/msbd5003/public_html/data/Product.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Color), EqualTo(Color,Black), IsNotNull(ProductID)], ReadSchema: struct<ProductID:int,Name:string,Color:string>

In [21]:
# This will report an error:

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d1.write.csv('temp.csv', mode = 'overwrite', header = True)
d2 = spark.read.csv('temp.csv', header = True, inferSchema = True)
d2.filter("Color = 'Black'").show()

AnalysisException: cannot resolve '`Color`' given input columns: [Name, OrderQty, SalesOrderDetailID, SalesOrderID, UnitPrice]; line 1 pos 0;
'Filter ('Color = Black)
+- Relation[SalesOrderID#1075,SalesOrderDetailID#1076,Name#1077,UnitPrice#1078,OrderQty#1079] csv

In [38]:
# This will report an error, too

d1 = dfDetail.join(dfProduct, 'ProductID') \
             .select('SalesOrderID', 'SalesOrderDetailID', 'Name', 'UnitPrice', 'OrderQty')
d2 = d1.filter(d1['Color'] == 'Black').show()

# Because the parser will try to find a column named 'Color' in d1, which doesn't exist

AnalysisException: Cannot resolve column name "Color" among (SalesOrderID, SalesOrderDetailID, Name, UnitPrice, OrderQty);

In [19]:
# Find all orders that include at least one black product, 
# return the product SalesOrderID, Name, UnitPrice, and OrderQty

# SELECT DISTINCT SalesOrderID
# FROM SalesLT.SalesOrderDetail
# JOIN SalesLT.Product ON SalesOrderDetail.ProductID = Product.ProductID
# WHERE Color = 'Black'

dfDetail.join(dfProduct.filter("Color='Black'"), 'ProductID') \
        .select('SalesOrderID') \
        .distinct() \
        .show()

+------------+
|SalesOrderID|
+------------+
|       71902|
|       71832|
|       71915|
|       71831|
|       71898|
|       71935|
|       71938|
|       71845|
|       71783|
|       71815|
|       71936|
|       71863|
|       71780|
|       71782|
|       71899|
|       71784|
|       71797|
+------------+

In [39]:
# How many colors in the products?

# SELECT COUNT(DISTINCT Color)
# FROM SalesLT.Product

dfProduct.select('Color').distinct().count()

# It's 1 more than standard SQL.  In standard SQL, COUNT() does not count NULLs.

10

In [44]:
# Find the total price of each order, 
# return SalesOrderID and total price (column name should be ‘totalprice’)

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail
# GROUP BY SalesOrderID

dfDetail.select('*', (dfDetail.UnitPrice * dfDetail.OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .show()

+------------+------------------+
|SalesOrderID|     sum(netprice)|
+------------+------------------+
|       71867|             858.9|
|       71902|59894.209199999976|
|       71832|      28950.678108|
|       71915|1732.8899999999999|
|       71946|            31.584|
|       71895|221.25600000000003|
|       71816|2847.4079999999994|
|       71831|          1712.946|
|       71923|         96.108824|
|       71858|11528.844000000001|
|       71917|            37.758|
|       71897|          10585.05|
|       71885|           524.664|
|       71856|500.30400000000003|
|       71898| 53248.69200000002|
|       71774|           713.796|
|       71796| 47848.02600000001|
|       71935|5533.8689079999995|
|       71938|         74205.228|
|       71845|        34118.5356|
+------------+------------------+
only showing top 20 rows

In [22]:
# Find the total price of each order where the total price > 10000

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail
# GROUP BY SalesOrderID
# HAVING SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) > 10000

dfDetail.select('*', (dfDetail.UnitPrice * dfDetail. OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .where('TotalPrice > 10000')\
        .show()

+------------+------------------+
|SalesOrderID|        TotalPrice|
+------------+------------------+
|       71902|59894.209199999976|
|       71832|      28950.678108|
|       71858|11528.844000000001|
|       71897|          10585.05|
|       71898| 53248.69200000002|
|       71796| 47848.02600000001|
|       71938|         74160.228|
|       71845|        34118.5356|
|       71783|      65683.367986|
|       71936| 79589.61602399996|
|       71780|29923.007999999998|
|       71782| 33319.98600000001|
|       71784| 89869.27631400003|
|       71797| 65123.46341800001|
+------------+------------------+

In [29]:
# Find the total price on the black products of each order where the total price > 10000

# SELECT SalesOrderID, SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) AS TotalPrice
# FROM SalesLT.SalesOrderDetail, SalesLT.Product
# WHERE SalesLT.SalesOrderDetail.ProductID = SalesLT.Product.ProductID AND Color = 'Black'
# GROUP BY SalesOrderID
# HAVING SUM(UnitPrice*OrderQty*(1-UnitPriceDiscount)) > 10000

dfDetail.select('*', (dfDetail.UnitPrice * dfDetail. OrderQty
                      * (1 - dfDetail.UnitPriceDiscount)).alias('netprice'))\
        .join(dfProduct, 'ProductID') \
        .where("Color = 'Black'")\
        .groupBy('SalesOrderID').sum('netprice') \
        .withColumnRenamed('sum(netprice)', 'TotalPrice')\
        .where('TotalPrice > 10000')\
        .show()

+------------+------------------+
|SalesOrderID|        TotalPrice|
+------------+------------------+
|       71902|26677.883999999995|
|       71832|      16883.748108|
|       71938|         33779.448|
|       71845|         18109.836|
|       71783|15524.117476000003|
|       71936|      44490.290424|
|       71780|         16964.322|
|       71797|      27581.613792|
+------------+------------------+

In [46]:
# For each customer, find the total quantity of black products bought.
# Report CustomerID, FirstName, LastName, and total quantity

# select saleslt.customer.customerid, FirstName, LastName, sum(orderqty)
# from saleslt.customer
# left outer join 
# (
# saleslt.salesorderheader
# join saleslt.salesorderdetail
# on saleslt.salesorderdetail.salesorderid = saleslt.salesorderheader.salesorderid
# join saleslt.product
# on saleslt.product.productid = saleslt.salesorderdetail.productid and color = 'black'
# )
# on saleslt.customer.customerid = saleslt.salesorderheader.customerid
# group by saleslt.customer.customerid, FirstName, LastName
# order by sum(orderqty) desc

d1 = dfDetail.join(dfProduct, 'ProductID')\
             .where('Color = "Black"') \
             .join(dfHeader, 'SalesOrderID')\
             .groupBy('CustomerID').sum('OrderQty')
dfCustomer.join(d1, 'CustomerID', 'left_outer')\
          .select('CustomerID', 'FirstName', 'LastName', 'sum(OrderQty)')\
          .orderBy('sum(OrderQty)', ascending=False)\
          .show()

+----------+------------+------------+-------------+
|CustomerID|   FirstName|    LastName|sum(OrderQty)|
+----------+------------+------------+-------------+
|     30050|     Krishna|Sunkammurali|           89|
|     29796|         Jon|      Grande|           65|
|     29957|       Kevin|         Liu|           62|
|     29929|     Jeffrey|       Kurtz|           46|
|     29546| Christopher|        Beck|           45|
|     30113|        Raja|   Venugopal|           34|
|     29922|      Pamala|        Kotc|           34|
|     29938|       Frank|    Campbell|           29|
|     29736|       Terry|   Eminhizer|           23|
|     29485|   Catherine|        Abel|           10|
|     30019|     Matthew|      Miller|            9|
|     29932|     Rebecca|      Laszlo|            7|
|     29975|      Walter|        Mays|            5|
|     29638|    Rosmarie|     Carroll|            2|
|     30089|Michael John|      Troyer|            1|
|     29531|        Cory|       Booth|            1|
|     29568|      Donald|     Blanton|            1|
|     29654|   Yao-Qiang|       Cheng|         null|
|       472|         Ann|       Evans|         null|
|     29974|       Scott|   MacDonald|         null|
+----------+------------+------------+-------------+
only showing top 20 rows

-------

### Embed SQL queries

You can also run SQL queries over dataframes once you register them as temporary tables within the SparkSession.

In [110]:
# Data: https://www.cse.ust.hk/msbd5003/data/departuredelays.csv

csv_file = "../data/departuredelays.csv"
# Read and create a temporary view
df = (spark.read.format("csv")
    .option("inferSchema", "true")
    .option("header", "true")
    .load(csv_file))
df.createOrReplaceTempView("us_delay_flights_tbl")

In [111]:
spark.sql("""SELECT distance, origin, destination
    FROM us_delay_flights_tbl WHERE distance > 1000
    ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

In [112]:
spark.sql("""SELECT date, delay, origin, destination
    FROM us_delay_flights_tbl
    WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD'
    ORDER by delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

In [113]:
spark.sql("""SELECT delay, origin, destination,
    CASE
        WHEN delay > 360 THEN 'Very Long Delays'
        WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
        WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
        WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
        WHEN delay = 0 THEN 'No Delays'
        ELSE 'Early'
    END AS Flight_Delays
    FROM us_delay_flights_tbl
    ORDER BY origin, delay DESC""").show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows

In [114]:
# Can even mix DataFrame API with SQL:
df.where('origin = "HNL"').createOrReplaceTempView('HNLflights')
spark.sql("""SELECT date, delay, origin, destination
    FROM HNLflights
    WHERE delay > 120 
    ORDER by delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|3061605| 1004|   HNL|        LAX|
|1311800| 1004|   HNL|        DFW|
|2121625|  932|   HNL|        JFK|
|2102155|  724|   HNL|        SFO|
|2171300|  626|   HNL|        LAX|
|2040725|  622|   HNL|        SFO|
|3020745|  600|   HNL|        LAX|
|2141405|  586|   HNL|        SFO|
|2271255|  521|   HNL|        PHX|
|2281300|  474|   HNL|        LAX|
+-------+-----+------+-----------+
only showing top 10 rows

In [117]:
# UDF

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

myf = udf(lambda s: s*2 + 1, IntegerType())
df.select('*', myf(df['delay']).alias('newdelay')).show()

+-------+-----+--------+------+-----------+--------+
|   date|delay|distance|origin|destination|newdelay|
+-------+-----+--------+------+-----------+--------+
|1011245|    6|     602|   ABE|        ATL|      13|
|1020600|   -8|     369|   ABE|        DTW|     -15|
|1021245|   -2|     602|   ABE|        ATL|      -3|
|1020605|   -4|     602|   ABE|        ATL|      -7|
|1031245|   -4|     602|   ABE|        ATL|      -7|
|1030605|    0|     602|   ABE|        ATL|       1|
|1041243|   10|     602|   ABE|        ATL|      21|
|1040605|   28|     602|   ABE|        ATL|      57|
|1051245|   88|     602|   ABE|        ATL|     177|
|1050605|    9|     602|   ABE|        ATL|      19|
|1061215|   -6|     602|   ABE|        ATL|     -11|
|1061725|   69|     602|   ABE|        ATL|     139|
|1061230|    0|     369|   ABE|        DTW|       1|
|1060625|   -3|     602|   ABE|        ATL|      -5|
|1070600|    0|     369|   ABE|        DTW|       1|
|1071725|    0|     602|   ABE|        ATL|       1|
|1071230|    0|     369|   ABE|        DTW|       1|
|1070625|    0|     602|   ABE|        ATL|       1|
|1071219|    0|     569|   ABE|        ORD|       1|
|1080600|    0|     369|   ABE|        DTW|       1|
+-------+-----+--------+------+-----------+--------+
only showing top 20 rows

In [118]:
spark.udf.register('myf', lambda s: s*2+1, IntegerType())
spark.sql('SELECT *, myf(Delay) AS newdelay FROM HNLflights').show()

+-------+-----+--------+------+-----------+--------+
|   date|delay|distance|origin|destination|newdelay|
+-------+-----+--------+------+-----------+--------+
|1011800|   39|    3288|   HNL|        DFW|      79|
|1011700|   -1|    3687|   HNL|        ORD|      -1|
|1011950|   -3|    3288|   HNL|        DFW|      -5|
|1011340|   -8|    2221|   HNL|        LAX|     -15|
|1010830|  -13|    2221|   HNL|        LAX|     -25|
|1011615|  -16|    2221|   HNL|        LAX|     -31|
|1012155|    7|    2221|   HNL|        LAX|      15|
|1021800|  319|    3288|   HNL|        DFW|     639|
|1021700|    0|    3687|   HNL|        ORD|       1|
|1021950|    2|    3288|   HNL|        DFW|       5|
|1021340|    3|    2221|   HNL|        LAX|       7|
|1020830|  -14|    2221|   HNL|        LAX|     -27|
|1021615|   19|    2221|   HNL|        LAX|      39|
|1022155|  130|    2221|   HNL|        LAX|     261|
|1031800|   54|    3288|   HNL|        DFW|     109|
|1031700|   11|    3687|   HNL|        ORD|      23|
|1031950|  239|    3288|   HNL|        DFW|     479|
|1031340|   13|    2221|   HNL|        LAX|      27|
|1030830|  -10|    2221|   HNL|        LAX|     -19|
|1031615|    7|    2221|   HNL|        LAX|      15|
+-------+-----+--------+------+-----------+--------+
only showing top 20 rows

### Read data from Parquet files
Parquet is an open source columnar file format that offers many I/O
optimizations (such as compression, which saves storage space and allows for quick
access to data columns).

In [1]:
# Data at https://www.cse.ust.hk/msbd5003/data/sf-airbnb.rar

filePath = '../data/sf-airbnb-clean.parquet/'
airbnbDF = spark.read.parquet(filePath)

airbnbDF.printSchema()

# Our goal is to predict the price per night for a rental property, given our features.
airbnbDF.select("neighbourhood_cleansed", "room_type", "bedrooms", "bathrooms",
"number_of_reviews", "price").show(5)

root
 |-- host_is_superhost: string (nullable = true)
 |-- cancellation_policy: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: double (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- bed_type: string (nullable = true)
 |-- minimum_nights: double (nullable = true)
 |-- number_of_reviews: double (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- price: double (nullable = true)
 |-- bedrooms_na: double (nullable = true)
 |-- bathrooms_na: double (nullable = true)
 |-- beds_na: double (nullable = true)
 |-- review_scores_rating_na: double (nullable = true)
 |-- review_scores_accuracy_na: double (nullable = true)
 |-- review_scores_cleanliness_na: double (nullable = true)
 |-- review_scores_checkin_na: double (nullable = true)
 |-- review_scores_communication_na: double (nullable = true)
 |-- review_scores_location_na: double (nullable = true)
 |-- review_scores_value_na: double (nullable = true)

+----------------------+---------------+--------+---------+-----------------+-----+
|neighbourhood_cleansed|      room_type|bedrooms|bathrooms|number_of_reviews|price|
+----------------------+---------------+--------+---------+-----------------+-----+
|      Western Addition|Entire home/apt|     1.0|      1.0|            180.0|170.0|
|        Bernal Heights|Entire home/apt|     2.0|      1.0|            111.0|235.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|             17.0| 65.0|
|        Haight Ashbury|   Private room|     1.0|      4.0|              8.0| 65.0|
|      Western Addition|Entire home/apt|     2.0|      1.5|             27.0|785.0|
+----------------------+---------------+--------+---------+-----------------+-----+
only showing top 5 rows

---
## Flexible Data Model

Sample data file at

https://www.cse.ust.hk/msbd5003/data/products.json

In [3]:
df = spark.read.json('../data/products.json')
df.printSchema()

root
 |-- dimensions: struct (nullable = true)
 |    |-- height: double (nullable = true)
 |    |-- length: double (nullable = true)
 |    |-- width: double (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- price: double (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- warehouseLocation: struct (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)

In [51]:
df.show()

+----------------+---+----------------+-----+-----------+-----------------+
|      dimensions| id|            name|price|       tags|warehouseLocation|
+----------------+---+----------------+-----+-----------+-----------------+
|[9.5, 7.0, 12.0]|  2|An ice sculpture| 12.5|[cold, ice]|   [-78.75, 20.4]|
| [1.0, 3.1, 1.0]|  3|    A blue mouse| 25.5|       null|    [54.4, -32.7]|
+----------------+---+----------------+-----+-----------+-----------------+

In [54]:
# Accessing nested fields

df.select(df['dimensions.height']).show()

+-----------------+
|dimensions.height|
+-----------------+
|              9.5|
|              1.0|
+-----------------+

In [55]:
df.select('dimensions.height').show()

+------+
|height|
+------+
|   9.5|
|   1.0|
+------+

In [35]:
df.select('dimensions.height')\
  .filter("tags[0] = 'cold' AND warehouseLocation.latitude < 0")\
  .show()

+------+
|height|
+------+
|   9.5|
+------+

In [36]:
df.rdd.take(3)

[Row(dimensions=Row(height=9.5, length=7.0, width=12.0), id=2, name='An ice sculpture', price=12.5, tags=['cold', 'ice'], warehouseLocation=Row(latitude=-78.75, longitude=20.4)),
 Row(dimensions=Row(height=1.0, length=3.1, width=1.0), id=3, name='A blue mouse', price=25.5, tags=None, warehouseLocation=Row(latitude=54.4, longitude=-32.7))]

In [22]:
# Functions for arrays
df.select(array_remove(df.tags, 'ice')).show()

+-----------------------+
|array_remove(tags, ice)|
+-----------------------+
|                 [cold]|
|                   null|
+-----------------------+

In [24]:
df.select(size(df.tags)).show()

+----------+
|size(tags)|
+----------+
|         2|
|        -1|
+----------+

In [28]:
df.select(filter(df.tags, lambda x: x > 'd').alias('big tags')).show()

+--------+
|big tags|
+--------+
|   [ice]|
|    null|
+--------+

### Closure in DataFrames

In [3]:
data = range(10)
df = spark.createDataFrame(zip(data, data))
df.printSchema()
df.show()

root
 |-- _1: long (nullable = true)
 |-- _2: long (nullable = true)

+---+---+
| _1| _2|
+---+---+
|  0|  0|
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
|  5|  5|
|  6|  6|
|  7|  7|
|  8|  8|
|  9|  9|
+---+---+

In [4]:
# The 'closure' behaviour in RDD doesn't seem to exist for DataFrames

x = 5
df1 = df.filter(df._1 < x)
df1.show()
x = 3
df1.show()

+---+---+
| _1| _2|
+---+---+
|  0|  0|
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
+---+---+

+---+---+
| _1| _2|
+---+---+
|  0|  0|
|  1|  1|
|  2|  2|
|  3|  3|
|  4|  4|
+---+---+

In [5]:
# Because of the Catalyst optimizer !

df1.explain()

== Physical Plan ==
*(1) Filter (isnotnull(_1#25L) AND (_1#25L < 5))
+- *(1) Scan ExistingRDD[_1#25L,_2#26L]

In [40]:
def f():
    return x/2
x = 5
df1 = df.select(df._1 * 2 + f() + 1 + 1)
df1.explain()
df1.show()

== Physical Plan ==
*(1) Project [(((cast((_1#2416L * 2) as double) + 2.5) + 1.0) + 1.0) AS ((((_1 * 2) + 2.5) + 1) + 1)#2497]
+- *(1) Scan ExistingRDD[_1#2416L,_2#2417L]


+----------------------------+
|((((_1 * 2) + 2.5) + 1) + 1)|
+----------------------------+
|                         4.5|
|                         6.5|
|                         8.5|
|                        10.5|
|                        12.5|
|                        14.5|
|                        16.5|
|                        18.5|
|                        20.5|
|                        22.5|
+----------------------------+

In [22]:
rdd = sc.parallelize(range(10))
x = 5
a = rdd.filter(lambda z: z < x)
print(a.take(10))
x = 3
print(a.take(10))

[0, 1, 2, 3, 4]
[0, 1, 2]

In [50]:
counter = 0

def increment_counter(x):
    global counter
    counter += 1

df.foreach(increment_counter)

print(counter)

0